In [1]:
import cudf

In [2]:
df = cudf.DataFrame()

In [3]:
df['string'] = ['abc', 'avaera', 'tv']
df['drop'] = ['abc', 'avaera/2', 'tv']

In [17]:
df

   string      drop
0     abc       abc
1  avaera  avaera/2
2      tv        tv

In [18]:
drop_mask = df['drop'].str.rfind('/2') == -1

In [20]:
df[drop_mask]

  string drop
0    abc  abc
2     tv   tv

In [19]:
drop_mask

0     True
1    False
2     True
Name: drop, dtype: bool